.parent-grid  {
    display: grid;
    grid-template-columns: 25%  25%  25%  25%  ;
    grid-gap: 0px;
    color: #444;
    background-color: #ecf0f1 ; 
}

.badge-box {
    display: flex;
    flex-direction: row;
    background-color: #ecf0f1 ;
    color: #0a1612;
    /* border: #0a1612 solid 2px; */
}

.sm-wrap {
    height: 100px;
    width: 120px;
    /* border: #0a1612 solid 2px; */
}

.outer-circle {
    height: 85px;
    width: 85px;
    background-color: #bbb;
    border-radius: 50%;
    box-shadow: 1px 2px #888;
    margin-left:15px; 
    margin-top:5px; 
    display: left;
}

.icon{
    height: 85px;
    width: 85px;
    color:#ecf0f1;
    font-size: 50px;  
}

.badge-text{
    display: inline-block;
    color:#0a1612;
    font-family:Verdana,sans-serif;
    text-align: center;
    font-size: 12px;
    z-index: 1;
    font-weight: bold;
}

.badge-headline{
    display: inline;
    opacity: 1;
    color:#0a1612;
    border-radius: 5px;
    font-family:Verdana,sans-serif;
    text-align: left;
    font-size: 35px;   
}

#icon-1{
    background-color: #2ecc71;
}

#icon-2{
    background-color: #3498db;
}

#icon-3{
    background-color: #e74c3c;
}

#icon-4{
    background-color: #f1c40f ;
}

.charts {
    /* border: #0a1612 solid 2px; */
    padding: 5px;
}

.parent-grid-2  {
    display: grid;
    grid-template-columns: 40% 60%  ;
    grid-gap: 0px;
    color: #444;
    /* margin:0px 50px 0px 15px; */
    background-color: #ecf0f1 ;
    /* border: #0a1612 solid 2px;  */
}

.parent-grid-3  {
    display: grid;
    grid-template-columns: 65% 35%  ;
    grid-gap: 0px;
    color: #444;
    /* margin:0px 50px 0px 15px; */
    background-color: #ecf0f1 ;
    /* border: #0a1612 solid 2px; */
    
}

.chart-headline{
    height: 30px;
    width: 240px;
    opacity: 1;
    color:#0a1612;
    position : absolute;
    font-family:Verdana,sans-serif;
    text-align: left;
    font-size: 15px;
    z-index: 1;
    font-weight: bold;
    position: relative;
    top:0px;
    /* border: #0a1612 solid 2px; */

}

.chart{
    display: block;
    color:#0a1612;
    font-family:Verdana,sans-serif;
    text-align: left;
    /* border: #b12599 solid 2px; */
    padding: 10px;
}

.pie-chart-override {
    z-index: 1;
    position: relative;
    bottom:40px;
    right:160px;
}    

.pie-chart-headline {
    z-index: 1;
    position: relative;
    top:40px;
    left:160px;
}



@media only screen and (max-width: 1024px) {
    .parent-grid-2 {
        display: grid;
        grid-template-columns: 100%  ;
        grid-gap: 0px;
        color: #444;
        background-color: #ecf0f1 ; 
    }  
    .parent-grid-3 {
        display: grid;
        grid-template-columns: 100%  ;
        grid-gap: 0px;
        color: #444;
        background-color: #ecf0f1 ; 
    }  
}


@media only screen and (max-width: 700px) {
    .parent-grid {
        grid-template-columns: 50% 50%  ;
        margin-left:150px; 
    }
    .parent-grid-2 {
        display: grid;
        grid-template-columns: 85%  ;
        grid-gap: 0px;
        color: #444;
        background-color: #ecf0f1 ; 
        margin-left:120px; 
    }  
    .parent-grid-3 {
        display: grid;
        grid-template-columns: 85%  ;
        grid-gap: 0px;
        color: #444;
        background-color: #ecf0f1 ; 
        margin-left:120px; 
    }  
}






